<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>旅の本 / TOPページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/template/default/img/common/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
    body * { display: none; }
</style>
<script>
$(function(){
    $('#form').submit();
});
</script>
</head>
{% block main %}
<body>
<form id="form" action="https://www.tabinohon.com/pbs/tool" method="post">
<input type="hidden" name="unqid" value="{{ unqid }}">
<input type="hidden" name="customer" value="{{ customer }}">
<input type="hidden" name="type" value="{{ type }}">
<input type="hidden" name="login" value="{{ login }}">
<input type="hidden" name="pr_id" value="{{ pr_id }}">
<input type="hidden" name="pid" value="{{ pid }}">
<input type="hidden" name="pgno" value="{{ pgno }}">
<input type="hidden" name="pricelist" value="{{ pricelist }}">
</form>
{% endblock %}
</body>
</html>
